In [1]:
import pandas as pd
import numpy as np

# Reduce master list size for colour desc

In [2]:
dfColours = pd.read_csv('../data/interim/Desc.csv')

In [5]:
dfColours.to_csv('list.csv')

# Generate Code files
Read from masterlist and generate code file

Testing: only main colours

In [63]:
df_colour = pd.read_csv("colour.txt", header=None)

In [69]:
df_colour.head()

                   0     1     2     3     4      5      6
0          Blood red  0x66  0x00  0x00  0.0F   1.0F   0.2F
1  Middle red purple  0xA5  0x53  0x53  0.0F  0.33F  0.49F
2         Rosy brown  0xBC  0x8F  0x8F  0.0F  0.25F  0.65F
3        Rosso corsa  0xD4  0x00  0x00  0.0F   1.0F  0.42F
4         Rose taupe  0x90  0x5D  0x5D  0.0F  0.22F  0.46F

In [74]:
df_colour[4] = df_colour[4].map(lambda x: float(x.rstrip('F')))

In [76]:
df_colour[5] = df_colour[5].map(lambda x: float(x.rstrip('F')))
df_colour[6] = df_colour[6].map(lambda x: float(x.rstrip('F')))

In [77]:
df_colour.head()

                   0     1     2     3    4     5     6
0          Blood red  0x66  0x00  0x00  0.0  1.00  0.20
1  Middle red purple  0xA5  0x53  0x53  0.0  0.33  0.49
2         Rosy brown  0xBC  0x8F  0x8F  0.0  0.25  0.65
3        Rosso corsa  0xD4  0x00  0x00  0.0  1.00  0.42
4         Rose taupe  0x90  0x5D  0x5D  0.0  0.22  0.46

In [78]:
df_sorted = df_colour.sort_values([4])
df_sorted.head()

              0     1     2     3    4     5     6
0     Blood red  0x66  0x00  0x00  0.0  1.00  0.20
22     Falu red  0x80  0x18  0x18  0.0  0.68  0.30
21  Dark sienna  0x3C  0x14  0x14  0.0  0.50  0.16
20   Tuscan red  0x7C  0x48  0x48  0.0  0.27  0.38
19    Firebrick  0xB2  0x22  0x22  0.0  0.68  0.42

In [79]:
df_sorted.to_csv("colour.csv", index=False, header=None)

In [80]:
df_sorted.shape

(806, 7)

In [56]:
df_colour.drop_duplicates(inplace=True)
df_colour.shape

(806, 7)

In [46]:
df_colour.to_csv("colour.csv", index=False)

In [83]:
df_grey = pd.read_csv("grey.csv", header=None)

In [84]:
df_grey.head()

              0     1     2     3    4    5     6
0   Davy's grey  0x55  0x55  0x55  0.0  0.0  0.33
1     Gainsboro  0xDC  0xDC  0xDC  0.0  0.0  0.86
2    Light gray  0xD3  0xD3  0xD3  0.0  0.0  0.83
3  Quick Silver  0xA6  0xA6  0xA6  0.0  0.0  0.65
4  Spanish gray  0x98  0x98  0x98  0.0  0.0  0.60